/* Estilos generales */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}


header {
    background: url("../img/jujuy.png") no-repeat center center/cover;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 150px;
}
.header-content img {
    display: block;
    margin: 20px auto;
    height: 40px;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 15px 0;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilo para body */
body{
    font-size: 10px;
    background-color: #fff;
    color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.featured-hotels{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px  ;
}

.hotel {
    flex: 0 1 30%;
    text-align: center;
}

.hotel img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s; 
}

.hotel img:hover {
    transform: scale(1.2); /* Agrandar la imagen al pasar el cursor por encima */
}

.hotel a {
    color:#555;
    text-decoration: none;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    width: 300px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.featured-hotels{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    min-height: 100vh; 
}

.hotel a:hover {
    overflow: visible; 
    white-space: normal; 
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
